/** Contains all the variables we use such as color definitions,....  **/
/* COLORS */
/* Global Styles */
a:focus {
  outline: none;
}
html,
body {
  width: 100%;
  height: 100%;
}
ul {
  list-style-type: none;
}
body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-vertical-center {
  text-align: center;
  color: #fff;
  vertical-align: middle;
  display: table-cell;
}
h1 {
  margin: 0;
  padding: 0;
  font-size: 4.5em;
  font-weight: 700;
}
/* Custom Horizontal Rule */
h2 + hr {
  border-color: #333;
}
hr.small {
  max-width: 100px;
}
/* dashboard buttons button */
.btn-group {
  margin-bottom: 20px;
}
/* navigation button */
.btn-dark {
  border-radius: 0;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.7);
}
.btn-light {
  border-radius: 0;
  color: #333;
  background-color: #fff;
}
.btn-light:hover,
.btn-light:focus,
.btn-light:active {
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
}
/* Side Menu */
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  right: 0;
  width: 250px;
  height: 100%;
  margin-right: -250px;
  overflow-y: auto;
  background: #222;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 55px;
  font-size: 18px;
  line-height: 55px;
}
.sidebar-nav > .sidebar-brand a {
  color: #999;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
#menu-toggle {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
}
#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}
.toggle {
  margin: 5px 5px 0 0;
}
/* Header */
.header {
  display: table;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 400px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background: url(../img/bg.jpg) no-repeat center center scroll;
  /* login form */
}
.header input {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.header label {
  font-size: 14px;
}
@media screen and (max-width: 450px) {
  .header h1 {
    margin: 0;
    padding: 0;
    font-size: 3em;
    font-weight: 600;
  }
}
@media screen and (max-width: 500px) {
  .header div img {
    width: 190px;
    height: 190px;
  }
}
@media screen and (max-width: 400px) {
  .header div img {
    width: 150px;
    height: 150px;
  }
}
@media screen and (max-width: 350px) {
  .header div img {
    width: 100px;
    height: 100px;
  }
}
.header div img {
  padding: 10px;
  display: inline;
  opacity: 0.6;
}
.header div img:hover {
  opacity: 1;
}
@media screen and (min-height: 600px) {
  .header fieldset {
    width: 30%;
    min-width: 250px;
    margin: 60px auto 20px auto;
  }
  .header fieldset label {
    font-size: 18px;
  }
  .header fieldset input {
    width: 100%;
  }
}
@media screen and (max-height: 600px) {
  .header fieldset {
    width: 30%;
    min-width: 250px;
    margin: 60px auto 20px auto;
  }
  .header fieldset label {
    font-size: 18px;
  }
  .header fieldset input {
    width: 100%;
  }
}
/* About */
.about {
  padding: 50px 0;
}
/* Connect */
.connect {
  margin: 15px auto 15px auto;
}
.connect li {
  margin: 0 0 20px 0;
}
.connect li div {
  margin: 1px;
  padding: 10px;
  border: 2px solid #e5e5e5;
  border-right: 5px solid red;
  background-color: #efefef;
}
.connect img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  float: left;
}
.connect p {
  padding-top: 12px;
}
/* Footer */
footer {
  background-color: #1b6d85;
  color: #fff;
  padding: 100px 0;
}
footer .text-muted {
  color: #b0b0b0;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #b0b0b0;
}
/* ------------------ modals ------------------ */
.registerform {
  margin: 0 20px 20px 20px;
}
.registerform button {
  width: 70px;
  margin: auto;
}
/* ------------------ mappen ------------------ */
#mapDashboard {
  height: 400px;
  min-height: 200px;
  width: auto;
}
#mapstatus {
  height: 300px;
  width: auto;
  margin-bottom: 10px;
}
.leaflet-control-locate a {
  padding: 0px;
}
/* ------------------ chatfunctie ------------------ */
#chatform {
  margin: 10px;
  width: 100%;
}
#chatform input {
  width: 85%;
  margin-right: 5px;
  float: left;
}
#chatform button {
  width: 10%;
  min-width: 50px;
}
#messages {
  background-color: lightgray;
  height: 200px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#messages li {
  padding: 5px 10px;
}
#messages li:nth-child(odd) {
  background: #eee;
}
/* ------------------ Instructions ------------------ */
.instructionPart {
  height: 100%;
  width: 100%;
  display: table;
  position: relative;
  margin-bottom: 30px;
}
.instructionPart h1 {
  font-size: 3em;
}
.instruction {
  max-width: 500px;
  margin: auto;
}
.instruction img {
  max-width: 150px;
  max-height: 150px;
}
.instructionHeader {
  background-color: #1b6d85;
  color: #fff;
}
.instructionHeader img {
  margin: auto;
  max-width: 250px;
}
@media screen and (max-width: 400px) {
  .instructionHeader img {
    width: 100px;
  }
}
.instructionHeader p,
.instructionHeader h2 {
  margin: auto;
  max-width: 300px;
  margin-bottom: 10px;
}
.middlePart {
  color: #fff;
  background-color: #1b6d85;
  padding: 30px 0 30px 0;
}
.text-vertical-center2 {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.backgroundimg {
  background: url(../img/bg.jpg) no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.backgroundimg .text-vertical-center2 {
  background-color: rgba(0, 0, 0, 0.3);
}
.hideme {
  opacity: 0;
}
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  opacity: 0;
  /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
