body {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}
h1 {
  color: #ffffff;
}
.topofpage {
  margin: 0px;
  padding: 0px;
  height: 100vh;
  background-size: cover;
  background: url("../images/background.jpg") no-repeat;
}
.topofpage #title {
  display: inline-block;
  margin: auto;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  padding: 30px;
}
.topofpage #title h1 {
  text-align: center;
  margin: 0px;
}
.topofpage fieldset {
  width: 20%;
  min-width: 150px;
  margin: auto;
  margin-bottom: 50px;
  background: rgba(0, 0, 0, 0.2);
}
.topofpage fieldset input {
  width: 100%;
  display: block;
  border-radius: 0;
}
.topofpage fieldset label {
  color: #ffffff;
  font-size: 18px;
  width: 100%;
  display: block;
}
.footer {
  padding: 50px 0px 45px 0px;
  text-align: center;
}
