    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1 text-center">
                <h4><strong>Geofeelings</strong></h4>
                <p>Created By:</p>
                <p><i class="fa fa-user fa-fw"></i> Frederic gryspeerdt</p>
                <p><i class="fa fa-user fa-fw"></i> Gilles Knockaert</p>

                <br>
                <ul class="list-inline">
                    <li>
                        <a href="https://www.facebook.com/"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
                    </li>
                </ul>
                <hr class="small">
                <p class="text-muted">Copyright &copy; Geofeelings</p>
            </div>
        </div>
    </div>