<section class=" backgroundimg instructionPart instructionHeader">
    <div class="text-vertical-center2 container fade-in">
        <h1>Geofeelings</h1>
        <hr class="small">
        <div>
                <img class="img-responsive" src="../img/mapPin.png">

            <h2>Hey there!</h2>
            <p> Welcome at Geofeelings</p>
            <p>Geofeelings is a webapp where you can share you’re emotional status among friends and others.</p>
            <p>Take your time to look at our instructions below before you take a leap in the unknown</p>
        </div>
    </div>
</section>

<section class="instructionPart">
    <div class="text-vertical-center2 container fade-in">
        <h1>Let's get started</h1>
        <hr class="small">
        <div class="row instruction">
            <img class="img-responsive col-lg-6 col-md-6 col-xs-6" src="../img/register.png">
            <div class="col-lg-6 col-md-6 col-xs-6">
                <h2>1. Get yourself registered</h2>
                <p>Start by registering your account. You can also chose not to register but then not all features will be available</p>
            </div>

            <div class="col-lg-6 col-md-6 col-xs-6">
                <h2>2. Show others how you feel</h2>
                <p>After registering, you can show others yours emotional status by clicking one of the smileys who resemble to your emotional status</p>
            </div>
            <img class="img-responsive col-lg-3 col-md-3 col-xs-3" src="../img/happy.png">
            <img class="img-responsive col-lg-3 col-md-3 col-xs-3" src="../img/sad.png">
        </div>
    </div>
</section>

<section class="instructionPart middlePart">
    <div class="text-vertical-center2 container fade-in">
        <h1>Almost there</h1>
        <hr class="small">
        <div class="row instruction">
            <img class="img-responsive col-lg-6 col-md-6 col-xs-6" src="../img/form.png">
            <div class="col-lg-6 col-md-6 col-xs-6">
                <h2>3. Fill out the form</h2>
                <p>After you picked a smiley fill out the form. Others wanne know why you are happy or not happy. When you fill in the form, you will also be able to add your location to it.</p>
            </div>
            <div class="col-lg-6 col-md-6 col-xs-6">
                <h2>4. connect with others</h2>
                <p>Now that you sucesfully shared your status, connect with others so your status gets noticed.</p>
                <p>When you added youre friends you can even start a conversation with them</p>
            </div>
            <img class="img-responsive col-lg-6 col-md-6 col-xs-6" src="../img/connection.png">
        </div>
    </div>
</section>

<section class="instructionPart">
    <div class="text-vertical-center2 container fade-in">
        <h1>One last step</h1>
        <hr class="small">
        <div class="row instruction">
            <img class="img-responsive col-lg-6 col-md-6 col-xs-6" src="../img/map.png">
            <div class="col-lg-6 col-md-6 col-xs-6">
                <h2>5. Take a look at the map</h2>
                <p>When you take a look at the map, you can see all the other peaple that use geofeelings.</p>
                <p>Apply filters to show only your friends or to narrow the map down to radius of your choise.</p>
            </div>

            <div class="col-lg-6 col-md-6 col-xs-6">
                <h2>6. Explore for yourself</h2>
                <p>There is a lot more to explore so find out for yourself. and don’t forget to tell your friends</p>
                <p>If you read this, you are ready to jump into action Go to the full site and explore what else you can do.</p>
            </div>
            <img class="img-responsive col-lg-6 col-md-6 col-xs-6" src="../img/magnifyingGlass.png">
        </div>
    </div>
</section>

<!-- jQuery -->
<script src="../js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script>
    // Closes the sidebar menu
    $("#menu-close").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Opens the sidebar menu
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#sidebar-wrapper").toggleClass("active");
    });

    // Scrolls to the selected menu item on the page
    $(function() {
        $('a[href*=#]:not([href=#])').click(function() {
            if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {

                var target = $(this.hash);
                target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                if (target.length) {
                    $('html,body').animate({
                        scrollTop: target.offset().top
                    }, 1000);
                    return false;
                }
            }
        });
    });
</script>

</body>

</html>
