<div ng-controller="MainController as vmMain">
    <section id="login">
        <!-- Header -->
        <header id="top" class="header">
            <div class="text-vertical-center">
                <h1>GEOFEELINGS</h1>

                <h3 ng-hide="vmMain.isUserLoggedIn">A webapp that shows you how the world really feels.</h3>
                <form>
                    <fieldset ng-hide="vmMain.isUserLoggedIn">
                        <label class="label" for="txtUsername">Username</label>
                        <input ng-model="vmMain.userCredentials.name" type="text" class="form-control" id="txtUsername"
                                   placeholder="Username..." required>
                        <label class="label" for="txtPassword">Password</label>
                        <input ng-model="vmMain.userCredentials.password" type="password" class="form-control" id="txtPassword"
                               placeholder="Password..." required>
                        <input type="submit" class="btn-primary btn" id="btnLogin" value="Login" ng-click="vmMain.logIn()">
                        <input type="button" class="btn-primary btn" id="btnRegister" data-toggle="modal" data-target="#myModal"
                               value="Register">
                    </fieldset>
                </form>

                <div ng-show="vmMain.isUserLoggedIn">
                    <h2 ng-show="vmMain.isUserLoggedIn">Click on a smiley to share your feelings</h2>

                    <div>
                        <a href="#" data-toggle="modal" id="btnhappy" data-target="#statusModal"><img class="img-responsive"
                                                                                                      src="../img/happy.png"></a>
                        <a href="#" data-toggle="modal" id="btnsad" data-target="#statusModal"><img class="img-responsive"
                                                                                                    src="../img/sad.png"></a>
                    </div>
                </div>
            </div>
        </header>
    </section>

<!------- dashboard
  ng-controller="dashboardController"
-------->

    <section id="dashboardGuest" class="container" ng-hide="vmMain.isUserLoggedIn">
        <h2 class="text-center">Real-time happiness map</h2>
        <hr class="small">
        <div id="mapDashboardGuest" ng-controller="GuestMapController as vmGuestMap">
            <leaflet width='100%' height='400' layers="layers" markers="markers"></leaflet>
        </div>
    </section>

    <section id="dashboardUser" class="container" ng-show="vmMain.isUserLoggedIn" ng-controller="DashboardController as vmDashboard">
        <h2 class="text-center">Dashboard</h2>
        <hr class="small">
        <div id="mapDashboardUser" ng-controller="UserMapController as vmUserMap">
            <leaflet width='100%' height='400' layers="layers" markers="vmUserMap.markers"></leaflet>
        </div>
    </section>

    <!--
    <section id="dashboardUser" class="container" ng-show="vmMain.isUserLoggedIn" ng-controller="DashboardController as vmDashboard">
        <h2 class="text-center">Dashboard</h2>
        <hr class="small">

        <!--
        - statussen va nde gebruiker zelf
        - statussen van de connecties va nde gebruiker
        - statussen van iedereen op de site
        -->
        <div class="text-center">
            <div class="btn-group" role="group" aria-label="...">
                <button type="button" class="btn btn-default">My feelings</button>
                <button type="button" class="btn btn-default">My connections feelings</button>
                <button type="button" class="btn btn-default">All feelings</button>
            </div>
        </div>

        <div id="mapDashboard"></div>


        <script>
            var mapDashboard = L.map('mapDashboard').setView([50.8504500, 4.3487800], 8);
            L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                id: 'gillesknockaert.ongk0729',
                accessToken: 'pk.eyJ1IjoiZ2lsbGVza25vY2thZXJ0IiwiYSI6ImNpamllenNmczAyd2l0aG01bjRnbnpndDAifQ.SFHo6SL-fytksGkN-NvHUQ'
            }).addTo(mapDashboard);


            var happy = L.icon({
                iconUrl: 'http://localhost:3000/img/markerHappy.png',
                shadowUrl: 'http://localhost:3000/img/marker-shadow.png',
                iconSize:     [40, 64], // size of the icon
                shadowSize:   [50, 64], // size of the shadow
                iconAnchor:   [20, 64], // point of the icon which will correspond to marker's location
                shadowAnchor: [4, 62],  // the same for the shadow
                popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
            });

            var sad = L.icon({
                iconUrl: 'http://localhost:3000/img/markerSad.png',
                shadowUrl: 'http://localhost:3000/img/marker-shadow.png',
                iconSize:     [40, 64], // size of the icon
                shadowSize:   [50, 64], // size of the shadow
                iconAnchor:   [20, 64], // point of the icon which will correspond to marker's location
                shadowAnchor: [4, 62],  // the same for the shadow
                popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
            });

            //hier moeten de markers opgemaakt worden die verwachten een lng, lat, userstatus en een bericht
            //L.marker([location.latitude, location.longtitude], {icon: isHappy}).addTo(mapDashboard).bindPopup("user : " + "message");

            L.marker([51.13215, 3.02534], {icon: happy}).addTo(mapDashboard).bindPopup("locatie 1");
            L.marker([51.15215, 3.02534], {icon: sad}).addTo(mapDashboard).bindPopup("locatie 2");
            L.marker([51.13215, 3.02834], {icon: happy}).addTo(mapDashboard).bindPopup("locatie 3");

            //zorgt dat er gecentreerd wordt op jouw.
            //var lc = L.control.locate().addTo(mapDashboard);
            //lc.start();

        </script>

    </section>



    <section class="container" ng-show="vmMain.isUserLoggedIn">
        <h2 class="text-center">Chat</h2>
        <hr class="small">

        <form id="chatform" action="">

            <input type="text" class="form-control" id="m" autocomplete="off" placeholder="chatmessage">
            <button id="submitmsg" type="button" class="btn btn-default">Send</button>
            <!--
            <input id="m" autocomplete="off" /><button>Send</button>-->
        </form>
        <ul id="messages">

        </ul>



        <!--
        <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
        <script>
            var socket = io();
            $('form').submit(function(){
                socket.emit('chat message', $('#m').val());
                $('#m').val('');
                return false;
            });
            socket.on('chat message', function(msg){
                $('#messages').append($('<li>').text(msg));
            });
        </script>
        -->
    </section>
    -->



    <section class="container" id="Connections" ng-show="vmMain.isUserLoggedIn">
        <h2 class="text-center">Connections user</h2>
        <hr class="small">
    </section>


    <!---------- Modal Register ---------->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Let's get you registered</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal registerform" method="POST" ng-submit="vmMain.register()">
                        <fieldset>
                            <!-- Username -->
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input ng-model="vmMain.userRegistration.name" type="text" class="form-control"
                                       id="username" placeholder="Username" required>
                            </div>

                            <!-- Password -->
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input ng-model="vmMain.userRegistration.password" type="password" class="form-control"
                                       id="password" placeholder="Password" required>
                            </div>

                            <!-- Password -->
                            <div class="form-group">
                                <label for="confirmpassword">Confirm password</label>
                                <input type="password" class="form-control" id="confirmpassword"
                                       placeholder="Confirm password" required>
                            </div>

                            <!-- can contact -->
                            <div class="form-group">
                                <label>
                                    <input ng-model="vmMain.userRegistration.isContactable" id="cancontact" type="checkbox">
                                    Other users may contact me
                                </label>
                            </div>

                            <!-- Button -->
                            <div class="control-group">
                                <div class="controls text-center">
                                    <button class="btn btn-success">Register</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <!---------- Modal Status ---------->
    <div id="statusModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">You are .....!</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal registerform" action='' method="POST">
                        <fieldset>
                            <!-- reason -->
                            <div class="form-group">
                                <label for="Reason">Why do you feel ....?</label>
                                <textarea class="form-control" id="Reason" rows="3" placeholder="..."></textarea>
                            </div>

                            <!-- map -->
                            <div id="mapstatus"></div>

                            <!-- Button -->
                            <div class="control-group">
                                <div class="controls text-center">
                                    <button id="submitStatus" class="btn btn-success">Submit</button>
                                    <button id="cancelStatus" type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

