<div ng-controller="MainController as vmMain">

    <!-- Navigation -->
    <section id="navigation">
        <a id="menu-toggle" href="#" class="btn btn-dark btn-lg toggle"><i class="fa fa-bars"></i></a>
        <nav id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <a id="menu-close" href="#" class="btn btn-light btn-lg pull-right toggle"><i
                        class="fa fa-times"></i></a>
                <li class="sidebar-brand">
                    <a href="#top" onclick=$("#menu-close").click();>Geofeelings</a>
                </li>
                <li>
                    <a href="/instructions" onclick=$("#menu-close").click();>Instructions</a>
                </li>
                <li ng-hide="vmMain.isUserLoggedIn">
                    <a href="#dashboardGuest" onclick=$("#menu-close").click();>Happiness map</a>
                </li>
                <li ng-show="vmMain.isUserLoggedIn">
                    <a href="#dashboardUser" onclick=$("#menu-close").click();>Dashboard</a>
                </li>
                <li ng-show="vmMain.isUserLoggedIn">
                    <a href="#connections" onclick=$("#menu-close").click();>Connections</a>
                </li>
                <li>
                    <a href="#contact" onclick=$("#menu-close").click();>Contact</a>
                </li>
                <li ng-show="vmMain.isUserLoggedIn">
                    <a href="/" ng-click="vmMain.logout()" onclick=$("#menu-close").click();>Logout</a>
                </li>
            </ul>
        </nav>
    </section>

    <section id="login">
        <!-- Header -->
        <header id="top" class="header">
            <div class="text-vertical-center">
                <h1>GEOFEELINGS</h1>

                <h3 ng-hide="vmMain.isUserLoggedIn">A webapp that shows you how the world really feels.</h3>
                <form>
                    <fieldset ng-hide="vmMain.isUserLoggedIn">
                        <label class="label" for="txtUsername">Username</label>
                        <input ng-model="vmMain.userCredentials.name" type="text" class="form-control" id="txtUsername"
                               placeholder="Username..." required>
                        <label class="label" for="txtPassword">Password</label>
                        <input ng-model="vmMain.userCredentials.password" type="password" class="form-control" id="txtPassword"
                               placeholder="Password..." required>
                        <input type="submit" class="btn-primary btn" id="btnLogin" value="Login" ng-click="vmMain.logIn()">
                        <input type="button" class="btn-primary btn" id="btnRegister" data-toggle="modal"
                               data-target="#myModal"
                               value="Register">
                    </fieldset>
                </form>

                <div ng-show="vmMain.isUserLoggedIn">
                    <h2 ng-show="vmMain.isUserLoggedIn">Click on a smiley to share your feelings</h2>

                    <div>
                        <a href="#" ng-click="vmMain.newStatus.isHappy = true" data-toggle="modal" id="btnhappy"
                           data-target="#statusModal"><img class="img-responsive"
                                                           src="../img/happy.png"></a>
                        <a href="#" ng-click="vmMain.newStatus.isHappy = false" data-toggle="modal" id="btnsad"
                           data-target="#statusModal"><img class="img-responsive"
                                                           src="../img/sad.png"></a>
                    </div>
                </div>
            </div>
        </header>
    </section>

    <!------- dashboard
      ng-controller="dashboardController"
    -------->

    <section id="dashboardGuest" class="container" ng-hide="vmMain.isUserLoggedIn">
        <h2 class="text-center">Real-time happiness map</h2>
        <hr class="small">
        <div id="mapDashboardGuest" ng-controller="GuestMapController as vmGuestMap">
            <leaflet width='100%' height='400' layers="layers" markers="markers"></leaflet>
        </div>
        <hr class="small">
    </section>

    <section id="dashboardUser" class="container" ng-show="vmMain.isUserLoggedIn"
             ng-controller="DashboardController as vmDashboard">
        <h2 class="text-center">Dashboard</h2>
        <hr class="small">

        <div id="mapDashboardUser" ng-controller="UserMapController as vmUserMap">
            <div class="text-center">
                <div class="btn-group" role="group" aria-label="...">
                    <button ng-click="vmUserMap.loadMarkersFromStatus()" type="button" class="btn btn-default">My
                        feelings
                    </button>
                    <button ng-click="vmUserMap.loadMarkersFromConnections()" type="button" class="btn btn-default">My
                        connections feelings
                    </button>
                    <button ng-click="vmUserMap.loadAllMarkers()" type="button" class="btn btn-default">All feelings
                    </button>
                </div>
            </div>
            <leaflet width='100%' height='400' layers="layers" markers="vmUserMap.markers"></leaflet>
        </div>
    </section>

    <section class="container" ng-show="vmMain.isUserLoggedIn">
        <h2 class="text-center">Chat</h2>
        <hr class="small">

        <form id="chatform" action="">

            <input type="text" class="form-control" id="m" autocomplete="off" placeholder="chatmessage">
            <button id="submitmsg" type="button" class="btn btn-default">Send</button>
            <!--
         <input id="m" autocomplete="off" /><button>Send</button>-->
        </form>
        <ul id="messages">

        </ul>


        <!--
     <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
     <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
     <script>
         var socket = io();
         $('form').submit(function(){
             socket.emit('chat message', $('#m').val());
             $('#m').val('');
             return false;
         });
         socket.on('chat message', function(msg){
             $('#messages').append($('<li>').text(msg));
         });
     </script>
     -->
    </section>


    <section class="row connect container" id="connections" ng-show="vmMain.isUserLoggedIn"
             ng-controller="UserMapController as vmConnections">
        <h2 class="text-center">Connections user</h2>
        <hr class="small">

        <div class="text-center">
            <div class="btn-group" role="group" aria-label="...">
                <button ng-click="vmMain.loadAllUsers()" type="button" class="btn btn-default" data-toggle="modal"
                        data-target="#newConnectionModal">Add new connection
                </button>
            </div>
        </div>


        <ul ng-repeat="connection in vmConnections.user.connections">
            <li class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div>
                    <img src="img/user.png">

                    <p><span ng-bind="connection.name"></span></p>
                </div>
            </li>
        </ul>

    </section>


    <!---------- Modal Register ---------->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Let's get you registered</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal registerform" method="POST" ng-submit="vmMain.register()">
                        <fieldset>
                            <!-- Username -->
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input ng-model="vmMain.userRegistration.name" type="text" class="form-control"
                                       id="username" placeholder="Username" required>
                            </div>

                            <!-- Password -->
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input ng-model="vmMain.userRegistration.password" type="password" class="form-control"
                                       id="password" placeholder="Password" required>
                            </div>

                            <!-- Password -->
                            <div class="form-group">
                                <label for="confirmpassword">Confirm password</label>
                                <input type="password" class="form-control" id="confirmpassword"
                                       placeholder="Confirm password" required>
                            </div>

                            <!-- can contact -->
                            <div class="form-group">
                                <label>
                                    <input ng-model="vmMain.userRegistration.isContactable" id="cancontact"
                                           type="checkbox">
                                    Other users may contact me
                                </label>
                            </div>

                            <!-- Button -->
                            <div class="control-group">
                                <div class="controls text-center">
                                    <button class="btn btn-success">Register</button>
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <!---------- Modal Status ---------->
    <div id="statusModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">You are <span ng-bind="vmMain.newStatus.isHappy ? 'happy' : 'sad'"></span>!
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal registerform">
                        <fieldset>
                            <!-- location name -->
                            <div class="form-group">
                                <label for="locationName">Location name</label>
                                <input type="text" ng-model="vmMain.newStatus._location.name" class="form-control"
                                       id="locationName" rows="3" placeholder="..."/>
                            </div>
                            <!-- reason -->
                            <div class="form-group">
                                <label for="Reason">Why do you feel <span
                                        ng-bind="vmMain.newStatus.isHappy ? 'happy' : 'sad'"></span>?</label>
                                <textarea ng-model="vmMain.newStatus.message" class="form-control" id="Reason" rows="3"
                                          placeholder="..."></textarea>
                            </div>

                            <!-- map -->
                            <div id="mapstatus"></div>

                            <!-- Button -->
                            <div class="control-group">
                                <div class="controls text-center">
                                    <button ng-click="vmMain.submitStatus()" id="submitStatus" class="btn btn-success">
                                        Submit
                                    </button>
                                    <button id="cancelStatus" type="button" class="btn btn-danger" data-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!---------- Modal Add Connection ---------->
    <div id="newConnectionModal" class="modal fade" role="dialog" ng-controller="UserMapController as vmNewConnection">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add new connection
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal registerform">
                        <fieldset>
                            <!-- connection name -->
                            <div class="form-group">
                                <label for="connectionName">Connection name</label>
                                <input ng-model="vmNewConnection.queryConnection" type="text" class="form-control"
                                       id="connectionName" rows="3" placeholder="..."/>
                            </div>
                            <!-- search results -->
                            <div class="form-group">
                                <label for="searchResults">Search results</label>

                                <ul id="searchResults"
                                    ng-repeat="user in vmMain.allUsers |filter:vmNewConnection.queryConnection | orderBy: 'name'">
                                    <li><span ng-bind="user.name"></span></li>
                                </ul>
                            </div>


                            <!-- Button -->
                            <div class="control-group">
                                <div class="controls text-center">
                                    <button ng-click="" id="addConnection" class="btn btn-success">
                                        Submit
                                    </button>
                                    <button id="cancelAddConnection" type="button" class="btn btn-danger"
                                            data-dismiss="modal">
                                        Close
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>

