//links to available connections
section.row.connect.container
  h2.text-center Connections
  ul
      li.col-lg-4.col-md-6.col-sm-6.col-xs-12
        div
            img(src="img/user.png")
            p Gilles Knockaert
      li.col-lg-4.col-md-6.col-sm-6.col-xs-12
          div
              img(src="img/user.png")
              p Gilles Knockaert
      li.col-lg-4.col-md-6.col-sm-6.col-xs-12
          div
              img(src="img/user.png")
              p Gilles Knockaert
      li.col-lg-4.col-md-6.col-sm-6.col-xs-12
          div
              img(src="img/user.png")
              p Gilles Knockaert
      li.col-lg-4.col-md-6.col-sm-6.col-xs-12
          div
              img(src="img/user.png")
              p Gilles Knockaert
      li.col-lg-4.col-md-6.col-sm-6.col-xs-12
          div
              img(src="img/user.png")
              p Gilles Knockaert
      li.col-lg-4.col-md-6.col-sm-6.col-xs-12
          div
              img(src="img/user.png")
              p Gilles Knockaert
      li.col-lg-4.col-md-6.col-sm-6.col-xs-12
          div
              img(src="img/user.png")
              p Gilles Knockaert