header#top.header
    fieldset
        form(name="login", method="POST")
            label.label(for="txtUsername") Username
            input.form-control(type="text",id="txtUsername", placeholder="Username...")
            label.label(for="txtPassword") Password
            input.form-control(type="text",id="txtPassword", placeholder="Password...")
            input.btn-primary.btn(type="submit", id="btnLogin" value="Login")
            input.btn-primary.btn(type="submit" id="btnRegister" value="Register")

    .text-vertical-center
        h1 HOW DO YOU FEEL?
        h3 Geofeelings a webapp that shows how you really feel.

        div
            a(href="#"): img.img-responsive(src="img/happy.png")
            a(href="#"): img.img-responsive(src="img/sad.png")