extends layout

block content
  block header
    include ../server/includes/header.jade
  block connections
      include ../server/includes/connections.jade
  block footer
    include ../server/includes/footer.jade
  block scripts
    include ../server/includes/scripts.jade
