doctype html
html
  head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(name='description', content='')
      meta(name='author', content='')

      title Geofeelings

      block css
        //Bootstrap Core CSS
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        //custom CSS
        link(rel='stylesheet', href='/css/geofeelings.css')
        //custom fonts
        link(rel='stylesheet', href='/font-awesome/css/font-awesome.min.css')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic')

  body
    block content

    block footer
        include ../server/includes/footer.jade

    block scripts
        include ../server/includes/scripts.jade



