//
   Created by Frederic on 6/12/2015.

footer#contact
    .container
        .row
            .col-lg-10.col-lg-offset-1.text-center
                h4 Geofeelings
                p Created by:
                p
                    i.fa.fa-user.fa-fw
                    | Frederic Gryspeerdt
                p
                    i.fa.fa-user.fa-fw
                    | Gilles Knockaert

                ul.list-inline
                    li
                        a(href='#'): i.fa.fa-facebook.fa-fw.fa-3x
                    li
                        a(href='#'): i.fa.fa-twitter.fa-fw.fa-3x
                hr.small
                p.text-muted
                    | Copyright &copy; Geofeelings


